.dashboard {
  display: flex;

  &-sidebar {
    flex: 2;
    min-width: 200px;
    max-width: 15%;
   // margin-right: 20px;
  }

  &-content {
    overflow: hidden;
    flex: 6;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    //margin: auto;

  }
}

@media (width < 850px) {
.dashboard {
  display: block;
  overflow-y: scroll;
  height: 90vh;
}
.dashboard-sidebar {
  display: inline-flex;
  max-width: 100%;
  margin-right: 0px;
  height: fit-content;
}
.dashboard-content {
  margin-left: 10px;
  margin-right: -10px;
  margin: auto;
  overflow:-moz-hidden-unscrollable
}
}

